<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>log/archived/debug.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  	<logger name="com.github.riverxik.meowbot.Bot" level="INFO"/>
  	<logger name="com.github.riverxik.meowbot.Configuration" level="INFO" />
  	<logger name="com.github.riverxik.meowbot.modules.TwitchBot" level="INFO" />
	<logger name="com.github.riverxik.meowbot.events.PublicMessages" level="INFO" />
	<logger name="com.github.riverxik.meowbot.modules.currency.CurrencyManager" level="INFO" />
	<logger name="com.github.riverxik.meowbot.modules.quotes.QuotesManager" level="INFO" />

	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>